<!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">Less is more!</div>
				<div class="intro-image"><img src="{{ "/assets/img/cargonauts-nauts.png" | prepend: site.baseurl }}" class="img-responsive"></div>
                            <div class="col-md-4"></div>
            <div class="col-md-4"><h4>We are now called nauts.io!</h4>
                <p>Visit our new home by clicking on the big yellow button below!
                <div class="intro-button"><a href="http://nauts.io" class="btn btn-xl">nauts.io</a></div>
            </div>
            </div>

        </div>
    </header>
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->

